.leaflet-container {
  width: 100%;
  height: 88vh;
}

hr.dashed {
  border-top: 2px dashed #999;
}

hr.dotted {
  border-top: 2px dotted #999;
}

hr.solid {
  border-top: 2px solid #999;
}


hr.hr-text {
position: relative;
  border: none;
  height: 1px;
  background: #999;
}

hr.hr-text::before {
  content: attr(data-content);
  display: inline-block;
  background: #fff;
  font-weight: bold;
  font-size: 0.85rem;
  color: #999;
  border-radius: 30rem;
  padding: 0.2rem 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* .main-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;

  .headercontainer {
  width: 100%;
  height: 10vh;
  background-color: rgb(184, 77, 152);
} 

.headercomponent {
  background-color: lightgrey;
  height: 7vh;
}

.apptitle {
  font-size: 30px;
}

.maincontainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}



.kgvlist {
  width: 20%;
  background-color: rgb(231, 189, 189);
  height: 93vh;
}

.favouriteList {
  width: 20%;
  background-color: lightpink;
  height: 93vh;
}
 */
